@font-face {
    font-family: "ExtendedMain";
    src: url("./fonts/ExtendedMain.woff");
    font-style: normal;
    font-weight: 400;
    font-display: auto;
    unicode-range: U+000-5FF;
  }
  
  @font-face {
    font-family: "ExtendedSecondary";
    src: url("./fonts/ExtendedSecondary.woff");
    font-style: normal;
    font-weight: 400;
    font-display: auto;
    unicode-range: U+000-5FF;
  }
  